@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/functions';

.InvitationCard {
  max-width: 600px;
  text-align: center;
  background-image: url('./assets/flower1.png'), url('./assets/flower2.png');
  background-repeat: no-repeat, no-repeat;
  background-size: vw(50) auto, vw(40) auto;
  background-position: left top, right bottom;
  background-color: #fff;
  border-radius: $br_lg;
  box-shadow: $shadow_md;
  padding: vw(25) vw(8) vw(20);
  margin: 0 auto;

  @include wide {
    background-size: vw(60) auto, vw(40) auto;
  }

  div,
  span {
    font-family: 'Crimson Text';
    font-size: vw(3);
    line-height: 1.8;
    letter-spacing: $ls_sm;
  }

  span {
    display: inline-block;
  }

  .InvitationCard_julius {
    font-family: 'Julius Sans One';
    font-size: vw(4);
    color: $c_green;
    font-weight: $fw_bold;
    letter-spacing: $ls_sm;

    &.-date {
      margin-top: vw(10);
    }

    &.-venue {
      margin-top: vw(5);
    }
  }

  .InvitationCard_reception {
    font-family: 'Great Vibes';
    font-size: vw(6);
    color: $c_pink;
    margin-top: vw(10);
  }

  .InvitationCard_rsvp {
    margin-top: vw(10);
  }

  .HelperText {
    width: vw(58);
    font-family: 'Crimson Text';
    font-size: vw(2.4);
    text-align: left;
    margin: vw(5) auto 0;

    + .HelperText {
      margin-top: 2vw;
    }
  }
}

.InvitationCard_host {
  margin-bottom: vw(6);

  div,
  span {
    font-family: 'Great Vibes';
    font-size: vw(11);
    line-height: 1;
    color: $c_pink;

    &.-and {
      font-size: vw(6);
      margin: vw(3) 0 vw(1);
    }
  }
}

.InvitationCard_guest {
  display: flex;
  justify-content: center;

  > div {
    border-top: 1px solid $c_lightgray;
    border-bottom: 1px solid $c_lightgray;
    padding: vw(3);
    margin: vw(6) 0;
  }

  span {
    font-family: 'Great Vibes';
    font-size: vw(6);
    line-height: 1.5;
    color: $c_red;

    &.-and {
      font-size: vw(5);
      padding: 0 0.5em;
    }
    &.-comma {
      padding-right: 0.2em;
    }
  }
}

.InvitationCard_link {
  color: $c_red;
  border-bottom: 1px dotted $c_red;
  text-decoration: none;
}
