@import '@styles/variables';
.TimelineItem {
  display: flex;
  letter-spacing: 0.02em;
  margin-top: 10px;

  + .TimelineItem {
    margin-top: 40px;
  }

  .HelperText {
    color: $c_darkergray;
    margin: 0 0 0 30px;
  }
}

.TimelineItem_head {
  width: 70px;
  text-align: right;
  flex-shrink: 0;
}

.TimelineItem_body {
  margin-left: 20px;

  div + div {
    margin-top: 10px;
  }
}

.TimelineItem_item {
  color: $c_red;
  padding-left: 30px;
  background: {
    position: left top;
    repeat: no-repeat;
  }

  + .TimelineItem_item {
    margin-top: 20px;
  }

  $icons: 'ferry', 'bus', 'ring', 'cocktail', 'camera', 'dinner', 'party';

  @each $icon in $icons {
    &.-#{$icon} {
      background-image: url('./assets/icon_#{$icon}.svg');

      @if $icon == 'bus' or $icon == 'camera' {
        background-size: 20px 20px;
      } @else {
        background-size: 24px 24px;
      }
    }
  }
}
