@import './variables';
@import './reset';

html {
  height: 100%;
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: $c_black;
  background: url('@assets/images/bg.png') repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

input,
button,
textarea {
  font-size: 16px;
  outline: none;
  appearance: none;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}
