$c_black: #333;
$c_gray: #ccc;
$c_lightgray: #ddd;
$c_red: #a72e6f;
$c_pink: rgba($c_red, 0.5);
$c_green: #8ea33d;

$fw_normal: 400;
$fw_bold: 700;

$br_sm: 6px;
$br_lg: 10px;

$ls_sm: 0.05em;
$ls_md: 0.08em;
$ls_lg: 0.1em;
