$c_black: #333;
$c_darkergray: #888;
$c_darkgray: #aaa;
$c_gray: #ccc;
$c_lightgray: #ddd;
$c_red: #a72e6f;
$c_pink: #ce93b1;
$c_green: #8ea33d;
$c_gold: #d5b617;

$fw_normal: 400;
$fw_bold: 700;

$br_sm: 6px;
$br_lg: 10px;

$ls_sm: 0.05em;
$ls_md: 0.08em;
$ls_lg: 0.1em;

$shadow_md: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

$dur_fast: 0.25s;
$dur_slow: 0.75s;
