html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
button,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}
article,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
