@import './variables.scss';
@import './reset.scss';

html {
  height: 100%;
  font-family: 'Assistant', 'Noto Sans JP', sans-serif;
  background-color: aliceblue;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  font-size: 16px;
  outline: none;
  appearance: none;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}
