@import '@styles/global';
@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/utilities';

.App {
  height: 100%;
  overflow-y: scroll;

  &::before {
    content: '';
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transition: opacity $dur_slow;
    pointer-events: none;
    z-index: 100;
  }

  &.is-loading::before {
    opacity: 1;
    pointer-events: all;
  }
}

.App_main {
  min-height: calc(100% - 269px);
  padding: 20px 20px 40px;
  position: relative;

  @include wide {
    min-height: 0;
    padding-top: 80px;
  }
}

.App_nav {
  @include wide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: $shadow_md;
  }
}
