@import '@styles/variables';

.TextLink_text {
  display: inline-block;
  color: $c_red;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: none;

  &.-icon {
    padding-left: 20px;
    position: relative;

    &::before {
      width: 14px;
      height: 14px;
      content: '';
      background: {
        size: 14px 14px;
        repeat: no-repeat;
        position: left center;
      }
      position: absolute;
      top: 4px;
      left: 0;
    }
  }

  $icons: 'arrow', 'phone', 'map', 'email';
  @each $icon in $icons {
    &.-#{$icon}::before {
      background-image: url('./assets/icon_#{$icon}.svg');
    }
  }
}
