@import '@styles/mixins';

.Nav {
  @include wide {
    display: flex;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #aaa;
    padding: 10px 20px;
    border-bottom: 1px dashed #fff;
    text-align: center;
    background: {
      image: url('./assets/icon_arrow-right.svg');
      size: 20px 20px;
      repeat: no-repeat;
      position: right 10px center;
    }

    @include wide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      background-image: none;
      border-bottom: 0;
      border-right: 1px dashed #fff;
    }

    &:last-child {
      border-bottom: 0;

      @include wide {
        border-right: 0;
      }
    }
  }
}
